html {
    background-color:black;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300; 
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
body{
    margin: 0 auto;
}

h1 {
    font-family: 'New Tegomin', serif;
    font-size: 50px;
    margin: 5px;
    color: snow;
    text-align: left; 
    display: block;

}

p{
    font-family:'Architects Daughter', cursive;
    float: unse;
    color: #fff;
}

.row {
    margin: auto;
    display: flex;
    
}

.main-nav {
    list-style: none;
    display: inline-block;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: 30%;
    padding: initial;
}


.main-nav li {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
}

.main-nav li a:link,
.main-nav li a:visited {
    color: silver;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(182, 132, 25) ;
}

label{
    font-family:  'New Tegomin', serif;
    color: #fff;
}

div{
    width: auto;
}

fieldset{
    border: none;
    width: 40%;
}
#nome {
    width: 50px;
    border: 2px solid #000000;
    background-color: #fff;

}

#email{
    width: 100px;
    border: 2px solid black;
    background-color: #fff;
}

#Tipo{
    border: 2px solid black;
}

#agendamento {
    width: 100px;
    background-color: #fff;
    background-position: left;
    backface-visibility: hidden;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#AG {
    background-color: #fff;
    color: black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#descrição {
    border: 5px solid darkgoldenrod;
}

#enviar{
    border: 5px solid darkgoldenrod;
    font-family: 'Franklin Gothic Medium', sans-serif;
    padding: 20px;
    width: auto;
    height: auto;
    display: inline-block;
    
}

#enviar:hover
#enviar:active{
    background-color: firebrick;
}


/*-------------------------*/
/*---------Footer--------*/
/*---------------------*/
.icon-footer {
    height: 50px;
    margin-bottom: 30px;
    text-align:center;
    font-size: 45px; 
    display: inline-block;
    padding: 100px;
}

form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}


figcaption {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: black;
}